body{
  text-align: center;
  margin: auto;
}

.alignment{
  padding-top: 12%;
  padding-bottom: 13%;
  margin-bottom: 0;
}
h1{
  font-size: 10rem;
}
.signup{
  margin-left: 10px;
  padding-left: 23px;
  padding-right: 23px;
}
