<%-include("partials/header")-%>
<%-include("partials/homefavicons/favicons")-%>
<link rel="stylesheet" href="dorReceiverPage\css\styles.css">
</head>
<body>
  <%-include("partials/navbar")-%>


  <a class="big-bttn" href="#">
  <button type="button" class="btn btn-dark btn-lg b1" name="button">
      Are You a Donor?
  </button>
</a>
<a class="big-bttn" href="/donorlist">
  <button type="button" class="btn btn-dark btn-lg b2" name="button">
      Are You a Receiver?
  </button>
</a>


</body>
