<%-include("partials/header")-%>
<%-include("partials/signinfavicons/favicons")-%>
<!-- Custom styles for this template -->
<link href="signinAfterSignupPage\css\styles.css" rel="stylesheet">
</head>
<body class="text-center">
  <%-include("partials/navbar")-%>
  <div class="jumbotron text-center alignment">
    <h1>Thank You!</h1>
    <h3>You have registered Successfully</h3>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="/signin" role="button">Continue to Sign in Now</a>
    </p>
  </div>

</body>
